*{
    box-sizing: border-box;
}

body{
    background-color: #E5E2DD;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100vw;
}

.wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*==========HEADER==========*/
.header_text{
    text-align: center;
}

.title_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 5.9259vh;
    line-height: 7.1296vh;
    color: #111827;
}

.small_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2222vh;
    line-height: 2.6852vh;
    color: #4B5563;
}

/*==========MAIN=============*/
.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    width: 23.4375vw;
    min-height: 31.4815vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px rgb(102, 99, 99);
    z-index: 100;
}

.info_header{
    display: flex;
}

.info_header_left{
    margin-top: 15px;
    margin-left: 15px;
}

.info_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.info_header_right{
    margin-left: 10px;
}

.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2222vh;
    margin-top: 2.3148vh;
}

.role{
    padding: 2px 5px;
    color: #fff;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4815vh;
    text-align: center;
}

.info_main_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4815vh;
    padding: 0 10px;
    text-align: center;
}

.info_bottom{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info_bottom_img{
    height: 41px;
    width: 41px;
}

.info_bottom_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4815vh;
    line-height: auto;
    padding-top: 3px;
}

.information_bg{
    position: absolute;
    top: 14.8125vw;
    left: 6.0417vw;
}

.information_bg_sec{
    position: absolute;
    top: 10.8125vw;
    left: 50.0417vw;
}

.ellipse_blue{
    width: 35vw;
    height: 45.5370vh;
    background: #56BEFF;
    opacity: 0.35;
    filter: blur(50px);
}

.ellipse_yellow{
    margin-left: auto;
    width: 16.1979vw;
    height: 29.7963vh;
    background: #FF9326;
    opacity: 0.35;
    filter: blur(50px);
}   

/*========COLOR=======*/
.purple{
    background-color: #7E78D9;
}

.light_green{
    background-color: #78D99D;
}

.brown{
    background-color: #D98B78;
}

.blue{
    background-color: #5591DF;
}

.light_red{
    background-color: #D97878;
}

.green{
    background-color: #78D9C6;
}

@media screen and (max-width: 900px) {
    .information{
        display: flex;
        flex-direction: column;
    }
    .info{
        min-width: 80.4375vw;;
    }
}