*{
    box-sizing: border-box;
}

body{
    background-color: #E5E2DD;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100vw;
}

.wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*===============HEADER================*/

.header_content{
    display: flex;
    justify-content: space-between;
}

.header_left{
    display: flex;
    width: 13vw;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.header_img{
    width: 10vmax;
    height: 5vmax;
}

.header_img img{
    width: 100%;
    height: 100%;
}

.header_text{
    color: #111827;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2222vh;
    line-height: 2.6852vh;
}

.header_right{
    margin-top: 1.5vh;
}

.header_link{
    text-decoration: none;
    color: #000;
}

.header_link_text{
    font-size: 2.5222vh;
    line-height: 2.6852vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .header_left{
        flex-direction: column; 
    }
    .header_img{
        width: 7vmax;
        height: 6vmax;
    }   
}
/*===================MAIN================*/

.main_content{
    display: flex;
}

.main_left{
    display: flex;
    flex-direction: column;
}

.text{
    width: 38.4vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 5.9259vh;
    line-height: 7.1296vh;
    color: #111827;
    margin-bottom: 1.8519vh;
}

.main_left_text_small{
    margin-top: 50px;
    width: 35.7292vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2222vh;
    line-height: 2.6852vh;
    color: #4B5563;
}

.main_right{
    display: flex;
    flex-direction: column;
}

.ellipse_blue{
    width: 35vw;
    height: 45.5370vh;
    background: #56BEFF;
    opacity: 0.35;
    filter: blur(50px);
}

.ellipse_yellow{
    margin-left: auto;
    width: 16.1979vw;
    height: 25.7963vh;
    background: #FF9326;
    opacity: 0.35;
    filter: blur(50px);
}   

@media screen and (max-width: 900px) {
    .main_content{
        flex-direction: column;
    }
    .main_left{
        margin-bottom: 9.2593vh;
    }
}
/* ===============INSTALL============*/
.container_install{
    border: 1px solid black;
    border-radius: 25px;
    background-color: #E5E2DD;
    margin-top: 50px;
    box-shadow: 5px 5px 2px rgb(102, 99, 99);
    z-index: 100;
}

.container_install p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.install{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container_install_header{
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 2px 2px rgb(102, 99, 99);
    z-index: 100;
    margin-bottom: 0.9259vh;
}

.install_left{
    padding-top: 1.2vh;
    padding-left: 1.1604vw;
}

.install_right{
    padding-right: 1.1604vw;
    padding-top: 1.2vh;
}

.container_install_header_right{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

button{
    cursor: pointer;
    border: none;
    background-color: inherit;
    
}

.button_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.container_install_main{
    margin-top: 20px;
}

.container_install_main_left{
    background-color: #fff;
    border-top-right-radius: 25px;
    padding-right: 10px;
}

.container_install_bottom{
    height: 18.8296vh;
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.link{
    display: flex;
    height: 100%;
}

.link_a{
    text-decoration: none;
    margin: auto;
    color: #111827;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1.3889vh 3.6458vw;
    background-color: #f4debb;
    transition: background-color 0.8s ease-in-out;
}

.linkTg{
    display: none;
}

.link_a:hover{
    background-color: #efb455;
    transition: background-color 1s ease-in-out;
}

/*==========FOOTER===========*/
.footer_reason{
    display: flex;
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 57.9167vw;
    border-radius: 25px;
    box-shadow: 5px 5px 2px rgb(102, 99, 99);
    z-index: 100;
}

.text_footer{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.2222vh;
    line-height: auto;
}

.text_footer_small{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3889vh;
    line-height: auto;
}

.footer_reason_left, .footer_post{
    margin-right: 5.2083vw;
}

.footer_post{
    height: auto;
    border: 3px solid #D9D9D9;
    border-radius: 25px;
}

@media screen and (max-width: 900px) {
    .footer_reason{
        flex-direction: column;
    }
}